/* HTML */
* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    height: 100vh;
   
}

body {
    height: 100vh;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.site-identity img {
    width: 15em;
    
}

/* Body */

.hero {
    width: 100vw;
    z-index: 0;
    display: none;
    background: linear-gradient(90deg, rgba(185,0,95,1) 35%, rgba(201,181,178,0) 100%);
}

.menu {
    background-image: url("../assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 200px;
    clip-path: path(" M 0, 30 L 240, 30 Q 245, 30 245, 25 L 245, 5 Q 245, 0 250, 0 L 390, 0 390, 200 0, 200");
}

.gradient {
    position: relative;
    top: 0;
    left: 0;
    top: 170px;
    width: 100%;
    height: 30px;  
    background: linear-gradient(90deg, rgba(185,0,95,1) 35%, rgba(201,181,178,0) 100%);
}

/* Nav */

.nav {
    background: linear-gradient(90deg, rgba(186,0,95,1) 28%, rgba(227,0,89,1) 100%);
    height: 100px;
    height: 100px;
    padding-top: 55px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style-type: none;
    padding: 0px;
}

a {
    font-size: 1rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.richtlijnen {
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 30px;

}

.kennisbank {
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    padding: 30px;
}

.active {
    background-color: #FFD05F;
    border-radius: 20px 20px 0px 0px;
    padding: 30px;
}

/* List */

.afbeeldingen {
    margin: 20px;
    padding-bottom: 20px;
}

.afbeeldingen h3 {
    font-size: 1.25rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #B9005F;
    margin-bottom: 10px;
}

details {
    margin-bottom: 15px;
    box-shadow: 0px 0px 8px #00000022;
    border-radius: 20px;
}

details [open] {
    padding-bottom: 20px;
}

details > summary {
    font-size: 1rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 0px 8px #00000022;
    padding: 15px;
    border-radius: 20px;
}

details[open] > summary {
    background-color: #B9005F;
    color: white;
    font-size: 1rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 0px 8px #00000022;
    padding: 15px;
    border-radius: 20px;
}

details > p {
    font-size: 1rem;
    font-family: fira-sans-2, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 10px;
}

#code {
    background-color: #F5F8F9;
    border-radius: 10px;
    font-size: 1rem;
    font-family: fira-sans-2, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    
}

pre {
    overflow: scroll;
    padding: 10px;
    counter-reset: counter;
    margin-left: 10px;
    margin-right: 10px;
}

#code::before {
    counter-increment: counter;
    content: counter(counter) " " ;
    border-right: 1px solid black;
  }

code {
    font-size: 1rem;
    font-family: fira-sans-2, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
    border: 1px solid #494f55;
    background-color: #f6f8f9;
    border-radius: 3px;
}

.tag {
    color:black;
}

.attr-name {
    color:#E4505A;
}

.attr-value {
    color: #3D9C7E;
} 

.url {
    color: #0b6ba2;
}

.property {
    color: #c96d18;
}

h4 {
    font-size: 1.5rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

h5 {
    font-size: 1.25rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

.bediening {
    margin: 20px;
    padding-bottom: 20px;
}

.bediening h3 {
    font-size: 1.25rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #B9005F;
    margin-bottom: 10px;
}

.formulieren {
    margin: 20px;
    padding-bottom: 20px;
}

.formulieren h3 {
    font-size: 1.25rem;
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #B9005F;
    margin-bottom: 10px;
}

/* Info */

.info {
    display: flex;
    border-color: #0b6ba2;
    background-color: #e0f7ff;
    align-items: center;
    border-left: 2px solid #0b6ba2;
    border-radius: 5px;
    margin: 20px 10px;
}

.info p {
    font-size: 1rem;
    font-family: fira-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin: 10px; 
}

.info li {
    font-size: 1rem;
    font-family: fira-sans-2, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin: 10px; 
}

details > ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    list-style-type: circle;
    padding: 20px;
    flex-direction: column;
    font-size: 1rem;
    font-family: fira-sans-2, sans-serif;
    font-weight: 600;
    margin-left: 20px;
}

/* Warning */

.warning {
    display: flex;
    border-color: #c96d18;
    background-color: #fffbeb;
    align-items: center;
    border-left: 2px solid #c96d18;
    border-radius: 5px;
    margin: 0px 10px;
    margin-top: 20px;
}

.warning p {
    font-size: 1rem;
    font-family: fira-sans, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    margin: 10px; 
}

.warning > svg {
    padding-left: 10px;
    width: 200px;
    fill: #c96d18;
}
